<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Personas</title>
</head>
<body>
	<div class="container">

		<div class="starter-template">
			<h1>Personas</h1>
		</div>
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Edad</th>
					<th>Telefono</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="persona: ${personas}">
					<td th:text="${persona.id}"></td>
					<td th:text="${persona.nombre}"></td>
					<td th:text="${persona.apellido}"></td>
					<td th:text="${persona.edad}"></td>
					<td th:text="${persona.telefono}"></td>
				</tr>
			</tbody>
		
		</table>

	</div>
</body>
</html>